<p>
	<strong>Nombre del cocinero:</strong>
	<%= @cocinero.nombre_cocinero %>
</p>

<p>
	<strong>Primer apellido del cocinero:</strong>
	<%= @cocinero.apellido_1_cocinero %>
</p>

<p>
	<strong>Segundo apellido del cocinero:</strong>
	<%= @cocinero.apellido_2_cocinero %>
</p>

<p>
	<strong>DNI del cocinero:</strong>
	<%= @cocinero.dni_cocinero %>
</p>

<p>
	<strong>Alias del cocinero:</strong>
	<%= @cocinero.alias_cocinero %>
</p>